<!DOCTYPE html>
<!--[if lt IE 9]><html lang="en" data-ng-app="glossaryApp" class="ie-old"><![endif]-->
<!--[if IE 9]><html lang="en" data-ng-app="glossaryApp" class="ie-9"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en" data-ng-app="glossaryApp"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Zone Glossary</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" type="text/css">
        <link rel="stylesheet" href="dist/styles/app.css" type="text/css">
        <link rel="shortcut icon" href="images/favicon.ico">
        <link rel="apple-touch-icon" href="images/zone-logo.svg">
        <link rel="apple-touch-icon" href="images/zone-logo.svg" sizes="72x72">
        <link rel="apple-touch-icon" href="images/zone-logo.svg" sizes="114x114">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
        <!-- Google Tag Manager -->
            <!-- TODO -->
        <!-- End Google Tag Manager -->
        <div class="alert">
            <div class="container">Sorry, you'll need to <a href="http://whatbrowser.org/">update your browser</a> to view this page.</div>
        </div>
        <div class="container">
            <header class="header">
                <a href="http://aviva.com" class="header__link">
                    <img src="images/aviva-logo.gif" class="header__image">
                </a>
                <h1 class="header__title">
                    <span class="em">Aviva</span> Glossary
                </h1>
            </header>
            <div class="app" data-ng-controller="EntriesCtrl">
                <p class="app__intro">Digital terminology can be a minefield, comprising a bewildering mix of industry-specific terms, technical acronyms, marketing buzzwords... and the odd bit of made-up twaddle. That’s why, here at Aviva, we've created a comprehensive online digital dictionary for you to bookmark as a handy reference guide.</p>
                <p>From A/B testing to insurance sales terms, you’ll find a succinct explanation here, together with links to related terms. This guide was created for the benefit of all those who work for us and with us, but we hope it’s helpful for anyone involved in the wonderful and ever-evolving world of insurance and financial brokering.</p>

                <div class="app__loader">Loading glossary data...</div>

                <div class="content" data-ng-cloak>
                    <div class="form" aria-label="Filter">
                        <p>
                            <label for="form-search-free-text">Search by term</label>
                            <input type="text" placeholder="Enter a search term e.g. Newsroom" data-ng-model="search.Term" aria-label="Enter a search term e.g. Newsroom" id="form-search-free-text">
                        </p>
                        <p aria-label="Filter by">
                            <span class="select">
                                <label for="form-search-tags">Search by priority tags</label>
                                <select data-ng-model="search.Tags" id="form-search-tags">
                                    <option value="">Any discipline</option>
                                    <option data-ng-repeat="tag in tags" value="{{tag}}">{{tag}}</option>
                                </select>
                            </span>
                        </p>
                    </div>

                    <nav aria-label="Pagination">
                        <ul class="pagination" data-ng-show="totalItems">
                            <li>
                                <button type="button" class="pagination__button pagination__button--first" data-ng-disabled="currentPage == 1" data-ng-click="currentPage=1">First page</button>
                            </li>
                            <li class="pagination__item">
                                <button type="button" class="pagination__button pagination__button--prev" data-ng-disabled="currentPage == 1" data-ng-click="currentPage=currentPage-1">Previous</button>
                            </li>
                            <li class="pagination__location">Page {{currentPage}} of {{noOfPages}}<br><span class="pagination__matches">{{totalItems}} matching {{ totalItems == 1 ? 'item' : 'items' }}</span></li>
                            <li class="pagination__item">
                                <button type="button" class="pagination__button pagination__button--next" data-ng-disabled="currentPage >= noOfPages" data-ng-click="currentPage = currentPage+1">Next</button>
                            </li>
                            <li>
                                <button type="button" class="pagination__button pagination__button--last" data-ng-disabled="currentPage >= noOfPages" data-ng-click="currentPage = noOfPages"></button>
                            </li>
                        </ul>
                    </nav>

                    <div class="results" aria-live="polite">
                        <article class="criteria" data-ng-repeat="item in filteredEntries = (entries | filter:search | filter:search.tag:true) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                            <h2 class="criteria__description" data-ng-bind-html="item.Term | highlight:search.Term">{{item.Term}}</h2>
                            <p>{{item.Definition}}</p>
                            <ul class="tags">
                                <li class="tag" ng-repeat="tag in item.Tags">
                                    {{tag}}
                                </li>
                            </ul>
                            <ul class="links">
                                <li ng-repeat="link in item.Link" class="link">
                                    <a href="#{{link}}" ng-click="loadSearchTerm($event)">
                                        {{link}}
                                    </a>
                                </li>
                            </ul>
                        </article>

                        <p class="results__empty" data-ng-hide="totalItems">Sorry, no results found. <button type="button" data-ng-click="resetFilters()">Clear the filters?</button></p>
                    </div>

                    <nav aria-label="Pagination">
                        <ul class="pagination" data-ng-show="totalItems">
                            <li>
                                <button type="button" class="pagination__button pagination__button--prev" data-ng-disabled="currentPage == 1" data-ng-click="currentPage=currentPage-1">Previous</button>
                            </li>
                            <li class="pagination__location">Page {{currentPage}} of {{noOfPages}}<br><span class="pagination__matches">{{totalItems}} matching {{ totalItems == 1 ? 'item' : 'items' }}</span></li>
                            <li>
                                <button type="button" class="pagination__button pagination__button--next" data-ng-disabled="currentPage >= noOfPages" data-ng-click="currentPage = currentPage+1">Next</button>
                            </li>
                        </ul>
                    </nav>

                    <footer class="app__footer">
                        <p>JavaScript is required to load this guide. Alternatively, you can <a href="data.json">download the guide</a> as JSON.</p>
                        <p>Conceived and produced by <a href="http://www.zonedigital.com" target="_blank">Zone Limited</a></p>
                        <a href="http://zonedigital.com" class="app__logo" title="Visit the Zone website" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150">
                                <defs>
                                    <style>.cls-1{fill:#424297;}.cls-2{fill:#fff;}</style>
                                </defs>
                                <title>Zone</title>
                                <path class="cls-1" d="M150,75A75,75,0,1,1,75,0,75,75,0,0,1,150,75Z"/>
                                <path class="cls-2" d="M42.66,85.32H30.49L47.14,64.63V62.75H26.84v8.19H28.5c.83-5.37,1.16-6.25,3.2-6.25H42.55L26,85.38v1.88h21.3V78.46H45.6C44.87,84.27,44.6,85.32,42.66,85.32Z"/><path class="cls-2" d="M61.49,62.25c-6.2,0-11.51,5.25-11.51,13s5,12.5,11.51,12.5c6.2,0,11.51-5.2,11.51-12.95S68,62.25,61.49,62.25Zm.17,23.52c-3.87,0-7.86-3.27-7.86-10.68s3.6-10.84,7.53-10.84S69.18,67.56,69.18,75,65.59,85.77,61.66,85.77Z"/><path class="cls-2" d="M97.88,70.11c0-5.2-2.43-7.86-6.75-7.86-2.88,0-6.36,1.55-9.41,6.86V62.75H74.08V65h4.2V85h-4.2v2.21H85.71V85H81.83V73.15c0-3.16,3.6-8,7.75-8a4.3,4.3,0,0,1,3.32,1.22c1.11,1.1,1.44,3,1.44,5.7V85H90.46v2.21H102V85H97.88V70.11Z"/><path class="cls-2" d="M114.08,62.25c-6.2,0-11.34,5.42-11.34,13s4.54,12.5,11.34,12.5c4.75,0,8.24-2.6,9.79-7.47h-2c-1.49,3.93-4.15,5-7.19,5-4.65,0-8-3.54-8.08-10.18H124C124.21,68.61,121,62.25,114.08,62.25Zm-7.42,10.68c.56-5.42,3.43-8.68,7.31-8.68,3.7,0,5.92,3.1,6.3,8.68Z"/>
                            </svg>
                            <span class="visually-hidden">Link opens in a new window</span>
                        </a>
                    </footer>
                </div>
            </div>
        </div>
        <script src="dist/scripts/app.js"></script>
    </body>
</html>
